.CFUserTextEncoding
.DS_Store
.android/
.appcfg_nag
.appcfg_oauth2_tokens
.appcfg_oauth2_tokens_java
.arcrc
.aws/
.bash_history
.bash_sessions/
.cassandra/
.config/
.cups/
.eclipse/
.gcutil.version
.gcutil_auth
.git-completion.bash
.git-prompt.sh
.gitconfig
.gsutil/
.local/
.m2/
.mavenrc
.mysql_history
.node-gyp/
.npm/
.oracle_jre_usage/
.pylint.d/
.ssh/
.subversion/
.swp
.viminfo
Applications/
Desktop/
Dev/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
dump.rdb
